header {
    width: 100%;
    height: 100vh;
    background: #00ADA5; //url('./images/NegativeSpaceLogoOutline.png') no-repeat scroll 50vh -600px;
    //background-size: 90%;
    //text-align: center;
    div {
        position: relative;
        top: 20%;
        left: 50%;
        width: 75%;
        transform: translateX(-50%);
        text-align: center;
        z-index: 5;
    }
    .tag {
        color: #FFF;
        text-transform: uppercase;
        font-size: 500%;
        font-weight: bolder;
        font-family: 'Vollkorn SC', cursive;

    }
}

@media screen and (max-width: 650px) {
    header {
        .tag {
            font-size: 300%;
        }
    }
}