header {
    width: 100%;
    height: 100vh;
    background: #00ADA5; //url('./images/NegativeSpaceLogoOutline.png') no-repeat scroll 50vh -600px;
    //background-size: 90%;
    //text-align: center;
    div {
        position: relative;
        top: 35%;
        left: 50%;
        width: 90%;
        transform: translateX(-50%);
        text-align: center;
    }
    .tag {
        color: #FFF;
        text-transform: uppercase;
        font-size: 4em;
        font-weight: bolder;
        font-family: 'Vollkorn SC', cursive;
    }
}