nav {
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    .profile {
        display: none;
    }
    .logo {
        left: calc(100vw - 100px);
    }
    .links {
        top: 130px;
        left: 50%;
        transform: translateX(-50%);
        li {
            margin: 10px 0;
            left: calc(100vh*2);
        }
    }
}

header {
    h1 {
        font-size: 2em;
    }
}