* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #000 url("images/background.jpg") no-repeat fixed center center;
    background-size: cover;
}

@import './navbar-portrait';



@media screen and (max-height: 650px) {
    @import './navbar-landscape';

}

@media screen and (max-width: 350px) {
    nav .logo {
            top: 18px;
            width: 45px;
    }
}